<header class="navBar flexLayout horizontalLayout">
	<a href="/users/feed" class="nav_logo_link">
		<svg width="175" height="195" viewBox="0 0 175 195" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav_logo">
			<g clip-path="url(#clip0_102_487)">
				<path
					d="M174.44 159.37L169.85 143.18C169.39 141.57 168.23 140.26 166.69 139.61L153.16 133.91C153.07 108.61 153.13 83.3002 153.1 58.0002C153.1 56.7102 153.48 55.9402 154.58 55.2902C158.78 52.8202 162.43 49.6902 165.34 45.7802C168.68 41.3002 169.98 36.3702 168.34 30.8702C166.99 26.3302 164.18 22.8002 160.64 19.7702C153.1 13.3102 144.2 9.49021 134.87 6.57021C122.69 2.77021 110.14 0.94021 97.4199 0.28021C90.9999 -0.0597901 84.5599 -0.0697901 78.1199 0.17021C70.7599 0.44021 63.4799 1.27021 56.2699 2.74021C45.4499 4.95021 35.1099 8.46021 25.8399 14.6502C21.5599 17.5002 17.6599 20.7702 14.9599 25.2602C11.2099 31.4902 10.8399 37.8502 14.3299 44.3102C16.4799 48.3002 19.4299 51.6202 23.1699 54.1202C25.2299 55.4902 25.9799 56.9502 25.9699 59.5202C25.8299 81.9102 25.8899 104.3 25.8899 126.69C25.8899 127.33 25.8899 127.98 25.8899 128.62L14.7799 124.07L10.7799 110.46C9.91994 107.55 6.86994 105.88 3.94994 106.74C1.03994 107.6 -0.63006 110.65 0.22994 113.57L4.97994 129.71C5.44994 131.31 6.62994 132.62 8.16994 133.25L25.8899 140.51C25.8899 143.05 25.8899 145.59 25.8899 148.13C25.8899 150.4 26.4399 152.48 28.0399 154.2C29.8299 156.11 32.0399 156.92 34.6199 156.92C40.9599 156.92 47.2999 156.92 53.6399 156.92V172.78L42.5699 181.64C40.1999 183.54 39.8099 187 41.7099 189.37C42.7999 190.73 44.3999 191.43 46.0099 191.43C47.2199 191.43 48.4299 191.04 49.4399 190.22L62.5799 179.71C63.8799 178.67 64.6399 177.09 64.6399 175.42V156.92C72.7899 156.92 80.9299 156.92 89.0799 156.92C92.0999 156.92 95.1099 156.92 98.1299 156.92C98.1299 156.92 98.1299 156.92 98.1299 156.93V175.83L87.0599 184.69C84.6899 186.59 84.2999 190.05 86.1999 192.42C87.2899 193.78 88.8799 194.48 90.4999 194.48C91.7099 194.48 92.9199 194.09 93.9299 193.27L107.07 182.76C108.37 181.72 109.13 180.14 109.13 178.47V156.92C109.13 156.92 109.13 156.92 109.13 156.91H115.25C124.76 156.91 134.28 156.88 143.79 156.92C148.24 156.94 153.26 153.78 153.23 147.61C153.23 147.03 153.23 146.45 153.23 145.87L160.01 148.72L163.88 162.37C164.57 164.79 166.77 166.37 169.17 166.37C169.67 166.37 170.17 166.3 170.67 166.16C173.59 165.33 175.29 162.29 174.46 159.37H174.44ZM132.18 49.3402C131.14 49.9602 130.75 50.7602 130.75 51.9902C130.78 73.8802 130.77 95.7802 130.77 117.67C130.77 126.19 130.77 134.7 130.77 143.22C130.77 143.51 130.73 143.8 130.77 144.09C130.89 145.21 130.45 145.59 129.29 145.58C120.36 145.54 111.43 145.56 102.49 145.56C81.2999 145.56 60.1099 145.56 38.9299 145.56C37.1999 145.56 37.1999 145.56 37.1999 143.85C37.1999 128.52 37.1999 113.19 37.1999 97.8602H37.2099C37.2099 82.4902 37.1999 67.1202 37.2299 51.7502C37.2299 50.5702 36.8299 49.8802 35.8099 49.2602C31.9699 46.9302 28.1699 44.5602 25.4399 40.8302C22.3599 36.6202 22.4599 33.1202 25.9299 29.1302C29.2099 25.3602 33.3099 22.7302 37.7399 20.5402C46.5199 16.2202 55.8699 13.9202 65.4899 12.5302C73.3299 11.3902 81.1999 11.0302 89.0899 11.3602C102.83 11.9302 116.26 14.0302 128.87 19.9202C133.42 22.0502 137.66 24.6202 141.18 28.2502C142.38 29.4802 143.32 30.8802 144.04 32.4502C145.06 34.6702 144.85 36.8202 143.7 38.9002C141.76 42.4202 138.7 44.8402 135.5 47.1202C134.42 47.8902 133.32 48.6502 132.18 49.3202V49.3402Z"
					fill="#EBBAB9"
				/>
				<path d="M56.98 101.19C50.92 101.19 46 107.9 46 116.18C46 124.46 50.92 131.17 56.98 131.17C63.04 131.17 67.96 124.46 67.96 116.18C67.96 107.9 63.04 101.19 56.98 101.19ZM52.67 114.95C50.97 114.95 49.59 113.57 49.59 111.87C49.59 110.17 50.97 108.79 52.67 108.79C54.37 108.79 55.75 110.17 55.75 111.87C55.75 113.57 54.37 114.95 52.67 114.95ZM57.73 111.09C56.88 111.09 56.19 110.4 56.19 109.55C56.19 108.7 56.88 108.01 57.73 108.01C58.58 108.01 59.27 108.7 59.27 109.55C59.27 110.4 58.58 111.09 57.73 111.09Z" fill="#EBBAB9" />
				<path d="M92.85 101.19C86.79 101.19 81.87 107.9 81.87 116.18C81.87 124.46 86.79 131.17 92.85 131.17C98.91 131.17 103.83 124.46 103.83 116.18C103.83 107.9 98.91 101.19 92.85 101.19ZM88.54 114.95C86.84 114.95 85.46 113.57 85.46 111.87C85.46 110.17 86.84 108.79 88.54 108.79C90.24 108.79 91.62 110.17 91.62 111.87C91.62 113.57 90.24 114.95 88.54 114.95ZM93.6 111.09C92.75 111.09 92.06 110.4 92.06 109.55C92.06 108.7 92.75 108.01 93.6 108.01C94.45 108.01 95.14 108.7 95.14 109.55C95.14 110.4 94.45 111.09 93.6 111.09Z" fill="#EBBAB9" />
				<path d="M73.34 138.28C72.99 138.28 72.64 138.25 72.3 138.21C68.34 137.65 66.29 134.02 66.2 133.86C65.67 132.89 66.02 131.68 66.98 131.14C67.94 130.61 69.15 130.95 69.69 131.91C69.72 131.97 70.91 133.98 72.88 134.24C74.85 134.51 76.95 132.88 78.36 131.47C79.14 130.69 80.41 130.69 81.19 131.47C81.97 132.25 81.97 133.52 81.19 134.3C78.55 136.94 75.91 138.27 73.34 138.27V138.28Z" fill="#EBBAB9" />
			</g>
			<defs>
				<clipPath id="clip0_102_487">
					<rect width="174.65" height="194.48" fill="white" />
				</clipPath>
			</defs>
		</svg>
	</a>
	<form class="search_bar" method="post" action="/users/">
		<input type="text" name="search" id="nav_search_bar" placeholder="Search" />
		<button type="submit">
			<span class="material-symbols-rounded">search</span>
		</button>
	</form>
	<nav class="navigaiton">
		<img class="provile_picture_container" src="/public/user/<%= reqUser.username %>_profile.jpg" alt="Your user profile" />
		<!-- TODO: Implement individual user Profiles! -->
		<!-- <img  -->
		<!-- class="profile_picture_picture" /> -->
		<!-- </img> -->
		<div class="navSubmenu">
			<!-- TODO: add Dynamic Profile Linking! -->
			<% if(reqUser.username !== "guest") { %>
			<a class="navSubmenu_link" href="/users/<%= reqUser.username %>"><span class="material-symbols-rounded">person</span>View Profile</a>
			<a class="navSubmenu_link" href="/users/<%= reqUser.username %>/edit"><span class="material-symbols-rounded">edit</span>Edit Profile</a>
			<a class="navSubmenu_link" href="/post"><span class="material-symbols-rounded">cloud_upload</span>Post</a>
			<% } %>

			<a class="navSubmenu_link" href="/users"><span class="material-symbols-rounded">group</span>Users</a>
			<a class="navSubmenu_link" href="/chat"><span class="material-symbols-rounded">message</span>Chat</a>
			<% if(reqUser.username !== "guest") { %>
			<a class="navSubmenu_link" href="/logout"><span class="material-symbols-rounded">logout</span>Logout</a>
			<% } else { %>
			<a class="navSubmenu_link" href="/login"><span class="material-symbols-rounded">login</span>Login</a>
			<a class="navSubmenu_link" href="/register"><span class="material-symbols-rounded">person_add</span>Register</a>
			<% } %>
		</div>
	</nav>
</header>
